* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #ededf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* HEADER SECTION------------------------------------------ */
header {
    padding: 20px 0px 20px 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #32343c;
    color: #9ecacc;
}


header h1 {
    display: inline-block;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 10px;
    background-color: #9ecacc;
    color: #32343c;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    margin-top: -15px;
    margin-right: 40px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

header nav ul li a {
  text-decoration: none;
  border-bottom: 3px solid #9ecacc;
  padding-bottom: 5px;
  padding: 10px 10px;
}

header nav ul li a:hover {
  background-color: #9ecacc;
  padding: 10px 10px;
  color: #000000;
}

a {
    color: #9ecacc;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*  Banner----------------------------------------------- */
.hero-banner {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    background-position: center;
}
.hero-banner div {
    width: 100%;
    height: 100%;
    background-color: rgba(7, 82, 163, 0.5);

    /* FLex properties */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-left: 20px;
    padding-bottom: 20px;
}

.hero-banner h2{
    color: #32343c;
    background-color: #9ecacc;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

/* PAGE Sections */
.page-section{
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.section-header {
  flex-basis: 20%;
  display: inline-block;
  margin-left: 20px;
  padding-right: 10px;
  text-align: right;
  padding-left: 50px;
  border-right: 3px solid #32343c;
}
.section-header h2{
    font-size: 48px;
}

.section-content {
    margin-right: 30px;
    float: right;
    width: 75%;
}

.section-content p{
    clear: both;
    padding: 10px;
}

/* Articles */
.section-portfolio{
    display: grid;
  grid-template-columns: 1fr 1fr; /* Creates two columns for secondary projects */
  grid-gap: 10px;
}

.project-main {
  grid-column: 1 / -1;
  height: 450px;
}

.project-secondary {
  height: 150px;
}

.project {
    width: 100%;
    background-image: url("../images/02-portfolio-1.jpg");
    background-size: cover;
    background-position: center;
    border:  5px solid #9ecacc;
}
.project-flex {
    width: 100%;
    height: 100%;
    background-color: rgba(7, 82, 163, 0.5);

    /* FLex properties */
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 20px;
}

.project-flex:hover {
    background-color: rgba(7, 82, 163, 0); /* Fully opaque background on hover */
}

.project-title{
    color: #32343c;
    background-color: #9ecacc;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.project-title p{
    padding: 0px;
}